body {
    background-color: #7ECEFD;
    margin: 0;
    padding: 0;
    /*text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);*/
    font-family: 'Lato', sans-serif;
    color: #3E454C;
    /*the cursor doesn't change and the numbers on buttons won't get highlighted*/
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}
.baza {
    width: 300px;
}
.calculator {
    background-color: #CDE855;
    /*margin: 10px auto 10px auto;*/
    padding: 0 15px 0 15px;
    text-align: center;
}
.log {
    background-color: #FFF6E5;
    /*height: 1.5em;*/
    margin-top: 5px;
    text-align: right;
    vertical-align: middle;
    font-size: 1em;
}
.display {
    background-color: #FFF6E5;
    /*height: 1.5em;*/
    margin: 0 0 5px 0;
    text-align: right;
    vertical-align: middle;
    font-size: 2em;
}
.row div {
    padding: 17px;
    font-size: 1.5em;
    transition: all .15s ease-in-out;
}
.row div:hover {
    background-color: #FFF6E5;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}
.row div:active {
    color: #F5F6D4;
    font-weight: bold;
}
a {
    color: #6e1039;
}
a:hover, a:visited {
    color: #A7A37E;
    text-decoration: none;
}
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
textarea {
    resize: none;
    border: none;
    /*overflow: hidden;*/
    width: 100%;
}
